*.sw?
**/.terraform
*.tfstate
*.tfplan
*.tfstate.backup
*.tfstate.*.backup
.env
.kubeconfig
.kustomize_build.yaml
.output.json
.overlay.output.json
.overlay.tfvars.json
.upstream
terraform.log
values.yaml
